
# The template to use to create the application
template_url: https://raw.githubusercontent.com/gnunn1/openshift-generic-pipeline/master/openshift/templates/spring-crud-booster-template.yml
template_params: "-p SOURCE_REPOSITORY_URL=https://github.com/gnunn1/spring-crud-booster"

# The name of the application, all of the dc, bc, is, container name, etc must be using this name
app_name: spring-crud

# What environments use for the prefix, i.e. spring-crud-dev, spring-crud-test where "spring-crud" would the prefix
project_prefix: spring-crud
display_prefix: "Spring Crud"

# Pipeline smoke test with curl
test_port: "8080"
test_path: "api/fruits"

# Whether to use ephemeral template
jenkins_persistent: false